<!--<footer style="margin-top:50px">
  <div class="row-fluid expand" id="ubc7-unit-footer">
                <div class="span10" id="ubc7-unit-address">
                    <div id="ubc7-address-unit-name">Room X460, Department of Computer Science</div>
                    <div id="ubc7-address-street">201-2366 Main Mall</div>

                    <div id="ubc7-address-location">
                        <span id="ubc7-address-city">Vancouver</span>, <span id="ubc7-address-province" title="British Columbia">BC</span> <span id="ubc7-address-country">Canada</span> <span id="ubc7-add$
                    </div>
                    <div id="ubc7-address-email">E-mail lci-summ at ubc dot ca</div>
                </div>
                <div class="span2">
                    <strong>Find us on</strong>
                    <div id="ubc7-unit-social-icons">
                        <a href="#"><i class="icon-facebook-sign"></i></a>&nbsp;
                        <a href="#"><i class="icon-twitter-sign"></i></a>&nbsp;
                        <a href="#"><i class="icon-google-plus-sign"></i></a>&nbsp;
                        <a href="#"><i class="icon-youtube"></i></a><br>
                    </div>
                </div>
            </div>
            <div class="row-fluid expand ubc7-back-to-top">
                <div class="span2">
                    <a href="#" title="Back to top">Back to top <div class="ubc7-arrow up-arrow grey"></div></a>
                </div>
            </div>
            <div class="row-fluid expand" id="ubc7-global-footer">
                <div class="span5" id="ubc7-signature"><a href="http://www.ubc.ca/" title="The University of British Columbia (UBC)">The University of British Columbia</a></div>
                <div class="span7" id="ubc7-footer-menu"><div class="row-fluid"><div class="span6"><h3>About UBC</h3><div><a href="https://cdn.ubc.ca/clf/ref/contact">Contact UBC</a></div><div><a href="h$
            </div>
            <div class="row-fluid expand" id="ubc7-minimal-footer">
                <div class="span12">
                    <ul>
                        <li><a href="http://cdn.ubc.ca/clf/ref/emergency" title="Emergency Procedures">Emergency Procedures</a> <span class="divider">|</span></li>
                        <li><a href="http://cdn.ubc.ca/clf/ref/terms" title="Terms of Use">Terms of Use</a> <span class="divider">|</span></li>
                        <li><a href="http://cdn.ubc.ca/clf/ref/copyright" title="UBC Copyright">Copyright</a> <span class="divider">|</span></li>
                        <li><a href="http://cdn.ubc.ca/clf/ref/accessibility" title="Accessibility">Accessibility</a></li>
                    </ul>
                </div>
            </div>
</footer>-->

<footer style="margin-top:50px">
  <div class="row z-depth-4" style="margin-bottom: 0px; background-color: #97D4E9;">
  <div class="col l8 m10 s12 left-align offset-l2 offset-m1">
      <div class="col l6 m8 s12 left-align">
        <div style="margin:20px">
            <div><b>Room X460</b></div>
            <div><b>Department of Computer Science</b></div>
            <div>201-2366 Main Mall</div>
            <div>Vancouver, BC Canada</div>
            <div>V6T 1Z4</div>
            <div>E-mail: ubc-nlp@cs.ubc.ca</div>
        </div>
      </div>
      <div class="col l6 m4 s12 right-align">
      <div style="margin: 20px;">
          <b>Find us on</b>
          <div>
              <img src="{{ 'twitter-square.svg' | prepend: '/assets/img/icons/' | prepend: site.baseurl | prepend: site.url }}" style="height:40px; padding-top:5px; padding-left:5px;">
              <img src="{{ 'facebook-square.svg' | prepend: '/assets/img/icons/' | prepend: site.baseurl | prepend: site.url }}" style="height:40px; padding-top:5px; padding-left:5px;">
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row z-depth-4" style="margin-bottom: 0px; background-color: #002145;">
  <div class="col l12 m12 s12 center-align" style="height: 100px;"> 
      <img src="{{ site.profile.ubc_signature | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:15%; min-width:300px; padding-top:15px; padding-left:15px; float: left;">
  </div>
</div>
</footer>

