<footer style="margin-top:50px">
  <div class="row z-depth-4" style="margin-bottom: 0px; background-color: #97D4E9;">
  <div class="col l8 m10 s12 left-align offset-l2 offset-m1">
      <div class="col l6 m8 s12 left-align">
        <div style="margin:20px">
            <div><b>Room X460</b></div>
            <div><b>Department of Computer Science</b></div>
            <div>201-2366 Main Mall</div>
            <div>Vancouver, BC Canada</div>
            <div>V6T 1Z4</div>
            <div>E-mail: ubc-nlp@cs.ubc.ca</div>
        </div>
      </div>
      <div class="col l6 m4 s12 right-align">
      <div style="margin: 20px;">
          <b>Find us on</b>
          <div>
              <a href="{{ site.twitter_username |  prepend: 'https://twitter.com/' }}"><img src="{{ 'twitter-square.svg' | prepend: '/assets/img/icons/' | prepend: site.url }}" style="height:40px; padding-top:5px; padding-left:5px;"></a>
              <a href="{{ site.github_username |  prepend: 'https://github.com/' }}"><img src="{{ 'github-square.svg' | prepend: '/assets/img/icons/' | prepend: site.url }}" style="height:40px; padding-top:5px; padding-left:5px;"></a>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="row z-depth-4" style="margin-bottom: 0px; background-color: #002145;">
  <div class="col l4 m4 s12 center-align"> 
      <img src="{{ site.profile.ubc_signature | prepend: '/assets/img/' | prepend: site.url }}" style="width:100%; min-width:200px; max-width: 300px; padding-top:15px; padding-left:15px; float: left;">
  </div>

  <div class="col l8 m8 s12 center-align"> 
    <div class="col l5 m6 s12" style="color: #EDEDEF; padding-top:18px; padding-right: 5px;">The UBC NLP group is partially sponsored by:
    </div>
    <div class="col l7 m6 s12 center-align">
    {% for image in site.static_files %}
    {% if image.path contains 'img/sponsors' %}
        <img src="{{ image.path | prepend: site.url }}" style="height:60px; background-color: #FFFFFF; padding: 10px; margin-top:30px; margin-bottom:30px; border-radius: 10px">
    {% endif %}
    {% endfor %}
    </div>
  </div>
</div>
</footer>

