<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ site.name }}{% if page.title and page.url != "/" %} | {{ page.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <!--<link rel="stylesheet" href="{{ '/assets/css/ubc-clf-full.css' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="stylesheet" href="{{ '/assets/css/unit.css' | prepend: site.baseurl | prepend: site.url }}">-->
  <link href="https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/materialize.css' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl | prepend: site.url }}">
  <script src="{{ '/assets/js/materialize.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <!--<script src="{{ '/assets/js/ubc-clf.js' | prepend: site.baseurl | prepend: site.url }}"></script>-->
  <script src="{{ '/assets/js/jquery.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script src="{{ '/assets/js/custom.js' | prepend: site.baseurl | prepend: site.url }}"></script>
</head>
