<!-- Large size, have the Ticker on the right side-->
<div class="z-depth-1 hide-on-med-and-down" style="min-width: 300px; background-color: #FFFFFF; margin-bottom: 20px; margin-left:10px; width:50%; padding: 10px; float:left; height:400px; overflow:auto;">
	<h5>News and Events</h5>
		{% assign sorted = (site.news | sort: 'date') | reverse %}
	    {% for item in sorted limit:3 %}
        <div class="z-depth-2" style="padding: 10px; margin: 10px; margin-top:20px; background-color: #FFFFFF">
            <div style='margin-top:2px; margin-bottom:2px;font-family: "Spartan"; font-weight:300; font-size:13pt'><p style="text-align: center;"><b>{{ item.date | date: "%b %-d, %Y" }}</b></p></div>
            <hr style="width: 60%">
            <div class="row" style="margin: 0px">
            {% if item.img and item.img != "" and item.img != nil %}
                <div class="col s12 m12 l4 xl4 align-center" style="padding: 10px"><img class="z-depth-2" src="{{ item.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:100%; object-fit: cover; float:center"></div>
                <div class="col s12 m12 l8 xl8" style='font-weight:300'>{{ item.content }}</div>
            {% else %}
                <div class="col s12 m12 l12 xl12" style='font-weight:300'>{{ item.content }}</div>
            {% endif %}
            </div>
    </div>
        {% endfor %}
        <a style="font-size:12pt; padding-left: 20px" href='{{ '/news' | prepend: site.baseurl | prepend: site.url }}'>Get more news</a>
</div>

<!-- Small size, have the Ticker full size-->
<div class="z-depth-0 hide-on-large-only" style="min-width: 300px; background-color: #FFFFFF; margin-bottom: 20px; margin-left:10px; width:100%; padding: 10px; float:right;">
    <h5>News and Events</h5>
        {% assign sorted = (site.news | sort: 'date') | reverse %}
        {% for item in sorted limit:3 %}
        <div class="z-depth-2" style="padding: 10px; margin: 10px; margin-top:20px; background-color: #FFFFFF">
            <div style='margin-top:2px; margin-bottom:2px;font-family: "Spartan"; font-weight:300; font-size:13pt'><p style="text-align: center;"><b>{{ item.date | date: "%b %-d, %Y" }}</b></p></div>
            <hr style="width: 60%">
            <div class="row" style="margin: 0px">
            {% if item.img and item.img != "" and item.img != nil %}
                <div class="col s12 m6 l4 xl4 align-center" style="padding: 10px"><img class="z-depth-2" src="{{ item.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:100%; object-fit: cover; float:center"></div>
                <div class="col s12 m6 l8 xl8" style='font-weight:300'>{{ item.content }}</div>
            {% else %}
                <div class="col s12 m12 l12 xl12" style='font-weight:300'>{{ item.content }}</div>
            {% endif %}
            </div>
    </div>
        {% endfor %}
</div>
<a style="font-size:12pt; padding-left: 20px" href='{{ '/news' | prepend: site.baseurl | prepend: site.url }}'>Get more news</a>

