<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<!-- Large size, have the Ticker on the right side-->
<div class="z-depth-1 hide-on-med-and-down" style="min-width: 300px; background-color: #FFFFFF; margin-bottom: 20px; margin-left:1%; margin-right:1%; width:48%; padding: 10px; float:right; height:400px; overflow:auto; border-radius: 10px;">
		<a class="twitter-timeline" href="https://twitter.com/UBC_NLP?ref_src=twsrc%5Etfw">Tweets by UBC_NLP</a>
</div>

<!-- Small size, have the Ticker full size-->
<div class="z-depth-1 hide-on-large-only" style="min-width: 300px; background-color: #FFFFFF; margin-bottom: 20px; margin-left:10px; margin-right:10px; width:100%; padding: 10px; float:right; height:400px; overflow:auto;border-radius: 10px;">
		<a class="twitter-timeline" href="https://twitter.com/UBC_NLP?ref_src=twsrc%5Etfw">Tweets by UBC_NLP</a>
</div>
