body {
 	font-family: 'Roboto', sans-serif;
}

table, tr, td {
    border: none;
    margin: 0px;
    padding: 0px;
    text-align: center;

}

blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #97D4E9;
}

#header_1{
	font-family: 'Spartan', sans-serif;
	color: green;
}

.group{
  float:right;
  width: 50%;
  margin: 20px;
  min-width:300px;
}

.showcase_img{
  float:center;
  width: 100%;
  min-width:200px;
  max-width:400px;
}

.showcase_img_right{
  float:right;
  width: 20%;
  margin: 10px;
  text-align: center;
}

.showcase_img_left{
  float:left;
  width: 20%;
  margin: 10px;
  min-width:200px;
  max-width:500px;
}

.showcase_img_left_large{
  float:left;
  width: 30%;
  margin: 10px;
  min-width:200px;
  max-width:500px;
}

.group_fullsize{
  float:center;
  width: 96%;
  margin: 2%;
  min-width:300px;
}

.profile_img {
  width: auto;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
  float: center;
  border-radius: 0px;
}

.group_image{
  float:center;
  width: 100%;
  min-width:200px;
}

.citation_badge_paper {
  border-radius: 5px;
  background: green;
  color:white;
  padding: 3px;
}

.citation_badge_code {
  border-radius: 5px;
  background: blue;
  color:white;
  padding: 3px;
}

.citation_badge_slides {
  border-radius: 5px;
  background: red;
  color:white;
  padding: 3px;
}


.citation_badge_poster {
  border-radius: 5px;
  background: Maroon;
  color:white;
  padding: 3px;
}

.citation_badge_video {
  border-radius: 5px;
  background: orange;
  color:white;
  padding: 3px;
}

.citation_badge_demo {
  border-radius: 5px;
  background: purple;
  color:white;
  padding: 3px;
}

.citation_badge_software {
  border-radius: 5px;
  background: grey;
  color:white;
  padding: 3px;
}

.citation_badge_documents {
  border-radius: 5px;
  background: DarkCyan;
  color:white;
  padding: 3px;
}
.navbar-container ul {
	text-align: center;
  margin-top: -10px;
  margin-bottom: -10px;
}

.navbar-anchor {
	font-family: "Spartan";
}

/* People */
h5.section-header {
	font-family: "Spartan";
	font-weight: 100;
	font-size: 4em;
}

.card-container {
  align-items:flex-start;
  justify-content:flex-start;
  flex-flow: row wrap;
  width:100%;
}

.card-panel {
  margin: 10px;
  padding: 10px;
  text-align: center;
  height: 40em;
}

img.responsive-img {
	object-fit: cover;
	max-height: 100%;
	align-items: center;
}
.card-image {
	height: 60%;
	
}

