---
layout: default
---

{% include header.html %}
<div class="row" style="padding-top: 80px;">

  	<div class="col l8 m10 s12 center-align offset-l2 offset-m1 z-depth-4" style="background-color: #FFFFFF; padding:0px; padding-bottom: 20px">
		<div style='margin-bottom: 10px; border-radius: 10px;'>
				{% if page.img and page.img != "" and page.img != nil %}
					<img src="{{ page.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:100%; height:150px; object-fit: cover;">
				{% endif %}
			    <div style='font-weight:300; text-align: left; padding-left: 10px; padding-right: 10px'>
			      	{{content}}
			    </div>
		</div>
	</div>
</div>
{% include footer.html %}

