---
layout: page
---

<div class="row card-container" style="margin:0px; margin-top:10px;">
{% assign people = site.people | sort: 'date' %}
    {% assign select_people = people | where: "role", "faculty" | where: "status", "active"%}
    {% if select_people.size != 0 %}
    <div class="col l12 m12 s12">
      <div>{{ content }}</div>
      <span style="font-size:25pt; line-height:1.5; padding: 0px; float:left">Faculty</span>
    </div>
      {% for item in select_people %}
        <div class="col xl6 l12 m12 s12">
          <div class="row z-depth-2 valign-wrapper" style=" padding: 10px; margin: 5px">
            <div class="col xl4 l4 m4 s12" >
            <div class="" style="">
              <img width="170" height="170" class="z-depth-0" style="float: center; width:100%; border-radius: 0px" src="{{ item.img | prepend: '/assets/img/people/' | prepend: site.baseurl | prepend: site.url }}">
            </div>
          </div>
            <div class="col xl8 l8 m8 s12" style="">
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:12pt; padding:0px;"><b><a href="{{ item.link }}" style="float:left;">{{ item.name }}</a></b></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><i><span style="float:left;">{{ item.type}}</span></i></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><span style="float:left;">Research Areas:</span></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:9pt;  padding:0px;"><span style="float:left;">{{ item.research }}</span></div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}

    {% assign select_people = people | where: "role", "postdoc" | where: "status", "active"%}
    {% if select_people.size != 0 %}
    <div class="col l12 m12 s12" style="">
      <span style="font-size:25pt; line-height:1.5; padding: 0px; float:left; margin-top: 75px">Postdocs</span>
    </div>
      {% for item in select_people %}
        <div class="col xl6 l12 m12 s12">
          <div class="row z-depth-2 valign-wrapper" style=" padding: 10px; margin: 5px">
            <div class="col xl4 l4 m4 s12">
            <div class="" style="">
              <img class="z-depth-0" style="float: center; width:100%; border-radius: 0px" src="{{ item.img | prepend: '/assets/img/people/' | prepend: site.baseurl | prepend: site.url }}">
            </div>
          </div>
            <div class="col xl8 l8 m8 s12" style="">
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:12pt; padding:0px;"><b><a href="{{ item.link }}" style="float:left;">{{ item.name }}</a></b></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><i><span style="float:left;">{{ item.type}}</span></i></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><span style="float:left;">Research Areas:</span></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:9pt;  padding:0px;"><span style="float:left;">{{ item.research }}</span></div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}

    {% assign select_people = people | where: "role", "student" | where: "status", "active"%}
    {% if select_people.size != 0 %}
    <div class="col l12 m12 s12">
      <span style="font-size:25pt; line-height:1.5; padding: 0px; float:left; margin-top: 75px">Students</span>
    </div>
      {% for item in select_people %}
        <div class="col xl6 l12 m12 s12">
          <div class="row z-depth-2 valign-wrapper" style=" padding: 10px; margin: 5px">
            <div class="col xl4 l4 m4 s12">
            <div class="" style="">
              <img class="z-depth-0" style="float: center; width:100%; border-radius: 0px" src="{{ item.img | prepend: '/assets/img/people/' | prepend: site.baseurl | prepend: site.url }}">
            </div>
          </div>
            <div class="col xl8 l8 m8 s12" style="">
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:12pt; padding:0px;"><b><a href="{{ item.link }}" style="float:left;">{{ item.name }}</a></b></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><i><span style="float:left;">{{ item.type}}</span></i></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><span style="float:left;">Research Areas:</span></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:9pt;  padding:0px;"><span style="float:left;">{{ item.research }}</span></div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}

    {% assign select_people = people | where: "role", "researcher" | where: "status", "active"%}
    {% if select_people.size != 0 %}
    <div class="col l12 m12 s12">
      <span style="font-size:25pt; line-height:1.5; padding: 0px; float:left; margin-top: 75px">Research Associates</span>
    </div>
      {% for item in select_people %}
        <div class="col xl6 l12 m12 s12">
          <div class="row z-depth-2 valign-wrapper" style=" padding: 10px; margin: 5px">
            <div class="col xl4 l4 m4 s12">
            <div class="" style="">
              <img class="z-depth-0" style="float: center; width:100%; border-radius: 0px" src="{{ item.img | prepend: '/assets/img/people/' | prepend: site.baseurl | prepend: site.url }}">
            </div>
          </div>
            <div class="col xl8 l8 m8 s12" style="">
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:12pt; padding:0px;"><b><a href="{{ item.link }}" style="float:left;">{{ item.name }}</a></b></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><i><span style="float:left;">{{ item.type}}</span></i></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:10pt;  padding:0px;"><span style="float:left;">Research Areas:</span></div>
              <div class="col l12 m12 s12 left-align" style="line-height:1.5; font-size:9pt;  padding:0px;"><span style="float:left;">{{ item.research }}</span></div>
            </div>
          </div>
        </div>
      {% endfor %}
      {% endif %}


{% assign select_people = people | where: "status", "inactive" | sort: 'date' | reverse %}
  {% if select_people.size != 0 %}
      <div class="col l12 m12 s12">
      <p style="font-size:25pt; padding: 0px; float:left; margin-top: 75px; margin-bottom: 10px">Past Group Members</p>
      </div>
      {% for item in select_people %}
        <div class="col l8 m10 s12 offset-l2 offset-m1">
              <div class="z-depth-2" style="padding: 10px; margin: 5px">
              {% if item.link and item.link != "" and item.link != nil %}
                <a href="{{ item.link }}" class="" style="font-size:12pt;">{{ item.name }}</a>
              {% else %}
                <span class="" style="font-size:12pt;">{{ item.name }}</span>
              {% endif %}
              {% if item.job.size > 0 %}
              <span class="" style="font-size:12pt;">(now </span>
              <span class="" style="font-size:12pt;">{{ item.job }})</span>
              {% endif %}
            </div>
            </div>
      {% endfor %}
      {% endif %}
</div>
