---
layout: page
---
	<div class="col l12 m12 s12">{{ content }}</div>
    <ul class="collapsible z-depth-0" style="border-width: 0px; list-style-type: none">
    {% assign sorted = (site.showcase | sort: 'date') | reverse %}
    {% for item in sorted %}
    <li>
      <div class="collapsible-header" style="font-weight:400; font-size:13pt">{{ item.title }}</div>
      <div class="collapsible-body" style="padding-top:0px">
        <span style='font-weight:300'>{{ item.content }}</span>
    </div>
    </li>
    {% endfor %}
  </ul>
