---
layout: page
---
<div class="row" style="margin-top: 20px">
	<div class="col l12 m12 s12">{{ content }}</div>
	{% assign sorted = (site.showcase | sort: 'date') | reverse %}
    {% for item in sorted %}
    <div class="col l12 m12 s12 ">
    	<div class="z-depth-0" style="padding: 5px; margin: 5px; background-color: #FFFFFF">
    		<div style='margin-top:2px; margin-bottom:2px;font-family: "Spartan"; font-weight:300; font-size:15pt'><p style="text-align: center;"><b>{{ item.title }}</b></p></div>
    		<hr style="width: 80%">
    		<div class="row" style="margin: 0px">
      		{% if item.img and item.img != "" and item.img != nil %}
				<div class="col s12 m6 l5 xl4 align-center" style="padding: 10px"><a href="{{ item.link }}"><img src="{{ item.img | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}" style="width:100%; object-fit: cover; float:center"></a></div>
				<div class="col s12 m6 l7 xl8" style='font-weight:300'>{{ item.content }}</div>
			{% else %}
      			<div class="col s12 m12 l12 xl12" style='font-weight:300'>{{ item.content }}</div>
			{% endif %}
    	    </div>
    	</div>
    </div>
    {% endfor %}
</div>